*
{
    margin: 0;
    padding: 0;
    cursor: none;
}
.portfolio-description
{
    padding: 30px;
}
.portfolio-info:hover,
.portfolio-description:hover
{
    box-shadow: 0px 0 30px -3px #999;
    transition: 0.75s;
}
.swiper-slide img:hover
{
    box-shadow: 0px 0 30px -3px #999;
    overflow-y: auto !important;
}

.back-to-top
{
    background: radial-gradient(circle at 10% 20%, rgb(90, 92, 106) 0%, rgb(32, 45, 58) 81.3%);
    font-size: 5vh;
    color: #fff;
}
.back-to-top:hover
{
    background: radial-gradient(circle at 10% 20%, rgb(32, 45, 58) 0%,rgb(90, 92, 106) 81.3%);
    transition: 0.5s;
}

::-webkit-scrollbar {
    width: 0.6em;
  }
  /* ::-webkit-scrollbar:hover {
    width: 1.5em;
  } */
  
  ::-webkit-scrollbar-track {
      background: #999;
      background: linear-gradient(to top, #747d80, #88868a);
      border-radius: 100vw;
      margin-block: 0.5em;
    }
    
    ::-webkit-scrollbar-thumb {
        background: radial-gradient(circle at 10% 20%, rgb(90, 92, 106) 0%, rgb(39, 43, 46) 81.3%);
        border-radius: 100vw;
        transition: background 5s;
    }
  
  ::-webkit-scrollbar-thumb:hover {
    background: radial-gradient(circle at 10% 20%, rgb(24, 34, 44) 0%,rgb(90, 92, 106) 81.3%);
    transition: 1s ease-in-out!important;
  }
  
  @supports (scrollbar-color: #1FD1F9 #B621FE) {
    * {
      scrollbar-color: #1FD1F9 #B621FE;
      scrollbar-width: auto;
    }
  }
  
  


