:root {
  --gradient: linear-gradient(to top, #1fd1f9, #b621fe 90%);
  --gradient-hover: linear-gradient(to bottom, #1fd1f9, #b621fe 90%);
  --gradient-title: linear-gradient(to left, #835dcb, #480370);
}

#progressbar {
  position: fixed;
  /* top: 0;
    right: 0; */
  width: 0.5rem;
  height: 0;
  background: var(--gradient);
  background: var(--gradient-title);
  animation: animate 5s linear infinite;
  z-index: 999999;
}
#progressbar:before,
#progressbar:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--gradient);
  background: var(--gradient-title);
  filter: blur(25px);
}
#progressbar:after {
  filter: blur(30px);
}
@keyframes animate {
  0%,
  100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}
/* ::-webkit-scrollbar {
  width: 1;
} */

/* ::-webkit-scrollbar{
  width: 1vw;
}
::-webkit-scrollbar-thumb{
  background-color: #7775;
}
::-webkit-scrollbar-track{
  background-color: #5555;
}
::-webkit-scrollbar-thumb:hover{
  background-color: #777;
}
::-webkit-scrollbar-track:hover{
  background-color: #555;
} */

::-webkit-scrollbar {
  width: 0.75rem;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 100vw;
  /* margin-block: 0.5em; */
}

::-webkit-scrollbar-thumb {
  background: var(--gradient);
  border: 0.15rem solid #fff;
  border-radius: 100vw;
  transition: background 5s;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--gradient);
  border: none;
  transition: 1s ease-in-out;
}

@supports (scrollbar-color: #1fd1f9 #b621fe) {
  * {
    scrollbar-color: #1fd1f9 #b621fe;
    scrollbar-width: auto;
  }
}

@media screen and (max-width: 575px) {
  #progressbar {
    width: 0.35rem;
  }
}
