:root {
  /* //--clr: #876eb5; */
  /* //--clr: #a40000; */
  /* //--clr: #643dad; */

  --clr: hsla(259, 36%, 47%, 1);
  --gradient: linear-gradient(to bottom, #1fd1f9, #b621fe 90%);
  --gradient-hover: linear-gradient(to bottom, #1fd1f9, #b621fe 90%);
  --gradient-title: linear-gradient(to left, #835dcb, #480370);
  --gradient-title-hover: linear-gradient(to right, #835dcb, #480370);
}
/* //? Starts Font Link for TITLE of h1 */
@font-face {
  src: url(../fonts/TheScientist-L3EyW.ttf);
  font-family: purna;
}

/* //! Starts Font Link for footer of h3 */
@font-face {
  src: url(../fonts/SelfDeceptionRegular-ALLWA.ttf);
  font-family: footer;
}

/* * For NAMASTE and section-title h2*/
@font-face {
  src: url(../fonts/ProcrastinatingPixie-WyVOO.ttf);
  font-family: namaste;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
}
::selection {
  background-color: var(--clr);
  color: #000;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: "Raleway", sans-serif; */
  font-family: footer;
}

/* //? for Namaste */
.typed {
  /* font-weight: 600; */
  font-family: namaste;
  font-size: 2.25rem;
  text-transform: uppercase;
  letter-spacing: 1.25rem !important;
  animation: glow-text 5s linear infinite;
}
@media only screen and (max-width: 600px) {
  .typed {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .typed {
    font-size: 1.5em;
  }
}

/* 
--------------------------------------------------------------
# Download my CV button
-------------------------------------------------------------- 
*/

@media only screen and (max-width: 992px) {
  .myCV {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.myCV {
  text-decoration: none;
}
.myCV button {
  background: transparent;
  font-size: 1rem;
  color: #fff;
  padding: 0.6em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: 0.2s;
  position: relative;
  color: var(--clr);
  border: solid 3px var(--clr);
  border-radius: 0;
  font-weight: 700;
}
.myCV button:hover {
  background: #643dad;
  color: #fff;
  border: solid 3px #643dad;
  box-shadow: 0px 11px 30px -3px rgba(0, 0, 0, 0.73);
  transition: 0.5s ease-in-out;
}
.myCV button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
  margin-left: -10px;
}
.myCV button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
  transform: translate(60px, -30px);
}
.myCV button:hover .wrapper {
  animation: fly 0.6s ease-in-out infinite alternate;
}
.myCV button:hover svg {
  transform: translateX(3.85em) rotate(360deg) scale(2);
}
.myCV button:hover span {
  transform: translateX(10em);
}
.myCV button:active {
  transform: scale(0.95);
}
.myCV button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, #fff, transparent);
  transition: 0.8s;
}
.myCV button:hover::before {
  left: 100%;
}
@keyframes fly {
  from {
    transform: translateY(0.1em);
  }
  to {
    transform: translateY(-0.1em);
  }
}

/* --------------------------------------------------------------
# Back to top button
--------------------------------------------------------------
*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: var(--gradient);
  background: var(--gradient-title);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.4s;
  box-shadow: 0px 0 30px rgba(69, 80, 91, 0.08);
  overflow: hidden;
}
.back-to-top .arrows-holder svg {
  /* stroke: #000; */
  width: 100%;
}
.back-to-top .arrows-holder {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 1s ease-in-out;
  line-height: 0;
}

.back-to-top .arrows-holder .svg-holder {
  position: absolute;
  top: -4px;
  top: -100px;
  left: 0;
  animation: move-up 2s 1s ease-in-out infinite;
}

@keyframes move-up {
  0% {
    top: -4px;
  }
  50% {
    top: -100px;
  }
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
  box-shadow: 0px 0 30px rgba(69, 80, 91, 0.08);
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before,
#preloader img {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #876eb5;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 20px;
  overflow-y: auto;
}

@media (max-width: 992px) {
  #header {
    width: 300px;
    /* background: #fff; */
    background: transparent;
    backdrop-filter: blur(5px);
    /* border-right: 1px solid #e6e9ec; */
    border-right: 1px dashed var(--clr);
    left: -300px;
  }
}

@media (min-width: 992px) {
  #main {
    margin-left: 100px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation  */
.nav-menu {
  padding: 0;
  display: block;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #45505b;
  padding: 10px 18px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 50px;
  background: #f2f3f5;
  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 1.25rem;
}

.nav-menu a span,
.nav-menu a:focus span {
  padding: 0 5px 0 7px;
  color: #45505b;
}

@media (min-width: 992px) {
  .nav-menu a,
  .nav-menu a:focus {
    width: 56px;
  }

  .nav-menu a span,
  .nav-menu a:focus span {
    display: none;
    color: #fff;
  }
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover > a {
  color: #fff;
  /* background: var(--clr); */
  background: var(--gradient-title);
}

.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu .active:focus span,
.nav-menu li:hover > a span {
  color: #fff;
}

.nav-menu a:hover,
.nav-menu li:hover > a {
  width: 100%;
  color: #fff;
}

.nav-menu a:hover span,
.nav-menu li:hover > a span {
  display: block;
}

/*
* Mobile Navigation 
*/
.mobile-nav-toggle {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 1.75rem;
  transition: all 0.4s;
  outline: none !important;
  line-height: 0;
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
}

.mobile-nav-toggle i {
  color: #45505b;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle {
  color: #fff;
  background-color: var(--clr);
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/purna-bg purple.png") top right no-repeat;
  background-size: cover;
  position: relative;
}

@media (min-width: 992px) {
  #hero {
    padding-left: 160px;
  }
}

#hero:before {
  content: "";
  background: rgba(6, 6, 6, 0.8);
  opacity: calc(10%);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero p span {
  color: var(--clr);
  letter-spacing: 1px;
}

#hero .social-links {
  margin-top: 30px;
}

#hero .social-links a {
  font-size: 1.5rem;
  display: inline-block;
  color: #45505b;
  line-height: 1;
  margin-right: 20px;
  transition: transform 500ms ease;
}
#hero .social-links a:hover {
  /* transform: translate(0, -5px); */
  transform: rotate(720deg);
  transition: all 0.5s;
}
.bxl-twitter:hover {
  color: #1da1f2;
}
.bxl-facebook:hover {
  background: #4267b2;
  color: #fff;
  border-radius: 50%;
}
.bxl-linkedin:hover {
  background: #0a66c2;
  color: #fff;
  border-radius: 5px;
}
.bxl-instagram:hover {
  background: radial-gradient(
    circle at 33% 100%,
    #fed373 4%,
    #f15245 30%,
    #d92e7f 62%,
    #9b36b7 85%,
    #515ecf
  );
  border-radius: 8px;
  color: white;
}
.bxl-github:hover {
  background-color: #333;
  color: white;
  border-radius: 3px;
}
.bxl-google:hover {
  background: radial-gradient(
      circle at 30% 50%,
      #f44336 20%,
      #ffc107 50%,
      #4caf50 30%,
      #4285f4
    )
    20%;
  border-radius: 50%;
  color: white;
}
/*Fonts Links ends*/
@media (max-width: 992px) {
  #hero {
    text-align: center;
  }

  #hero h1 {
    font-size: 2rem;
    line-height: 36px;
  }

  #hero p {
    margin-top: 10px;
    font-size: 1.25rem;
    line-height: 24px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  position: relative;
  margin-bottom: 3.75vh;
  font-family: namaste;
  font-size: 2.5rem;
  letter-spacing: 1vw;
  text-align: center;
  color: var(--clr);
  text-transform: uppercase;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
  line-height: 0.7em;
  animation: glow-text 5s linear infinite;
}
.section-title h2::before {
  content: "";
  position: absolute;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  font-weight: 800;
  letter-spacing: 7rem;
  opacity: 0.5;
  z-index: -1;
  transition: all 0.7s ease-in-out;
  color: #fff;
}
.section-title h2:hover::before {
  content: attr(data-text);
  /* color: #444a44; */
  color: hsla(0, 100%, 0%, 0.6);
  opacity: 0.2;
  letter-spacing: 1.5rem;
  line-height: 0;
  font-size: 7rem;
}

@keyframes glow-text {
  0%,
  18%,
  20%,
  50.1%,
  60%,
  65.1%,
  80%,
  90.1%,
  92% {
    /* color: #0e3742; */
    color: var(--clr);
    text-shadow: none;
  }
  18.1%,
  20.1%,
  30%,
  50%,
  60.1%,
  65%,
  80.1%,
  90%,
  92.1%,
  100% {
    color: #fff;
    text-shadow: 0 0 10px var(--clr), 0 0 20px var(--clr), 0 0 40px var(--clr),
      0 0 80px var(--clr), 0 0 160px var(--clr);
  }
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 1000;
  font-size: 2.5rem;
  background-image: var(--gradient-title);
  width: fit-content;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.5s;
}
.about .content h3:hover {
  background-image: var(--gradient-title-hover);
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about .content ul strong {
  margin-right: 10px;
}

.about .content ul i {
  font-size: 1.5rem;
  margin-right: 5px;
  color: var(--clr);
  line-height: 0;
}

.about .content p:last-child {
  margin-bottom: 0;
}
.img-zoom {
  /* max-width: 20%; */
  transition: all 1.5s ease-in-out;
  filter: drop-shadow(8px 8px 4px #333);
}
.img-zoom:hover {
  transform: scale(1.25, 1.25);
  cursor: pointer;
  filter: drop-shadow(15px 11px 15px #333);
}

/*--------------------------------------------------------------
/*? CSS for img-zoom responsive
--------------------------------------------------------------*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .img-zoom {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .img-zoom {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .img-zoom {
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .img-zoom {
    display: inline-block;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .img-zoom {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# Facts
--------------------------------------------------------------*/
.facts .count-box {
  padding: 30px 30px 25px 30px;
  margin-top: 30px;
  width: 100%;
  position: relative;
  text-align: center;
}

.facts .count-box i {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  background: var(--clr);
  background: var(--gradient-title);
  color: #fff;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
}

.facts .count-box span {
  font-size: 2.25rem;
  display: block;
  font-weight: 600;
  color: var(--clr);
}

.facts .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
/* 
.skills .progress {
  height: 8.5vh;
  display: block;
  background: transparent;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #45505b;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #f2f3f5;
}

.skills .progress-bar {
  width: 1px;
  height: 1.4vh;
  transition: 0.9s;
  background-color: var(--clr);
} */

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients {
  margin-top: -30px;
  padding: 4rem;
}

/* .clients-slider
{
  padding: 4rem;
} */

.clients .swiper-pagination {
  margin-top: 50px;
  position: relative;
  display: flex;
  justify-content: center;
}
.clients .swiper-pagination .swiper-pagination-bullet {
  width: 0.75rem;
  height: 0.75rem;
  background-color: transparent;
  opacity: 1;
  border: 1px solid var(--clr);
}
.clients .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--clr);
  /* background-color: #fff;
  box-shadow: 0 0 5px 2px var(--clr); */
}
.clients .swiper-slide svg {
  opacity: 0.35;
  transition: 0.3s;
  /* filter: grayscale(100); */
}
.clients .swiper-slide svg:hover {
  opacity: 1;
  filter: none;
  transform: scale(1.15);
}
/* @media screen (max-width: 395px)
{
  .clients .swiper-pagination .swiper-pagination-bullet {
    width: 0.5rem;
    height: 0.5rem;
    background-color: transparent;
    opacity: 1;
    border: 1px solid var(--clr);
  }
} */
/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.resume-title {
  margin: 20px 0;
  font-weight: 1000;
  font-size: 2.5rem;
  background-image: var(--gradient-title);
  width: fit-content;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.5s;
}
.resume-title:hover {
  background-image: var(--gradient-title-hover);
}
.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #876eb5;
  position: relative;
}

.resume .resume-item h4 {
  font-family: "Poppins", sans-serif;
  font-size: 1.15rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 3px;
  margin-bottom: 10px;
  background: var(--gradient-title);
  color: #000;
  border-radius: 10vw;
  text-align: center;
  padding: 5px;
}
.resume .resume-item h4:hover {
  background: var(--gradient-title-hover);
}

.resume .resume-item h5 {
  font-size: 1.25rem;
  padding: 5px 15px;
  font-weight: 1000;
  margin: 10px 0;
  background-image: var(--gradient-title);
  width: fit-content;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.5s;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
  position: relative;
}
.resume .resume-item ul li a {
  position: absolute;
  color: #333;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}
.resume .resume-item ul li a:hover {
  color: var(--clr);
  font-size: 1.25rem;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid var(--clr);
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 2px 15px;
  padding: 0;
  margin: 0 auto 20px auto;
  list-style: none;
  text-align: center;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 15px 10px 15px;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: var(--clr);
  transition: 0.3s;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.portfolio .portfolio-wrap:hover {
  box-shadow: 0px 8px 27px -1px rgba(0, 0, 0, 1);
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(17, 17, 17, 0.6);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

/* Extra Added CSS */
.portfolio .portfolio-wrap img {
  transition: all ease-in-out 0.3s;
}
/* Ends extra added CSS */
.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
}
/* Internal line camera CSS */
.portfolio .portfolio-wrap .portfolio-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 15px;
  left: 15px;
  border-top: 3px solid #d7dce1;
  border-left: 3px solid #d7dce1;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}
.portfolio .portfolio-wrap .portfolio-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  border-bottom: 3px solid #d7dce1;
  border-right: 3px solid #d7dce1;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}
/* External CSS */
.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 600;
}
.portfolio .portfolio-wrap .portfolio-info p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  /* font-style: italic; */
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: rgba(255, 255, 255, 0.4);
  margin: 0 5px 0 0;
  font-size: 2rem;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #fff;
}

.portfolio .portfolio-wrap:hover::before {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover img {
  transform: scale(1.3);
  transition: 0.75s;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}
/* 
.portfolio .portfolio-wrap .portfolio-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #d7dce1;
  border-right: 3px solid #d7dce1;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #45505b;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: #45505b;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #45505b;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #876eb5;
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info::before {
  top: 15px;
  left: 15px;
}

.portfolio .portfolio-wrap:hover .portfolio-info::after {
  bottom: 15px;
  right: 15px;
} */

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 70px;
  /* margin-left: -70px; */
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
  margin-top: 50px;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details
  .portfolio-details-slider
  .swiper-pagination
  .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid var(--clr);
}

.portfolio-details
  .portfolio-details-slider
  .swiper-pagination
  .swiper-pagination-bullet-active {
  background-color: var(--clr);
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(69, 80, 91, 0.08);
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 1rem;
}

.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}
.portfolio-details h3 {
  font-size: 2.5rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.082);
}
.portfolio-details .portfolio-description h2 {
  font-size: 2.75rem;
  font-weight: 700;
  margin-bottom: 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.082);
}

.portfolio-details .portfolio-description p {
  padding: 0;
  text-align: justify;
}

/*--------------------------------------------------------------
# Services UPDATED
--------------------------------------------------------------*/

#services .card {
  --clr-neutral-900: hsl(207, 19%, 9%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-accent-400: hsl(272, 88%, 45%);
}
.card-web {
  background-image: url("../img/Services/webDeveloper.jpg");
}
.card-js {
  background-image: url("../img/Services/javascript.png");
}
.card-photoshop {
  background-image: url("../img/Services/Photoshop.jpeg");
}
.card-ms {
  background-image: url("../img/Services/ms.jpeg");
}
.card-c {
  background-image: url("https://wallpapercave.com/wp/wp3295258.png");
}
.card-video {
  background-image: url("https://rare-gallery.com/uploads/posts/5420475-glasses-focus-magnify-computer-hacker-screen-lights-keyboard-program-sublime-adobe-video-editing-coding-laptop-glass-free-stock-photos.jpg");
}
.card {
  color: var(--clr-neutral-100);
  background-size: cover;
  padding: 10rem 0 0;
  /* max-width: 45ch; */
  border-radius: 0.5rem;
  overflow: hidden;
  transition: transform 500ms ease;
}
.card:hover,
.card:focus-within {
  transform: scale(1.05);
  box-shadow: 0 0.1px 10px #000;
}
.card-content {
  --padding: 1.5rem;
  padding: var(--padding);
  background: linear-gradient(hsl(0 0% 0% / 0), hsl(0 0% 0% / 1));
  transform: translateY(65%);
  transition: transform 500ms ease;
}
.card-title {
  position: relative;
  width: max-content;
  font-size: 3.5rem;
}
.card-title::after {
  content: "";
  position: absolute;
  height: 6px;
  left: calc(var(--padding) * -1);
  bottom: -2px;
  width: calc(100% + var(--padding));
  background: var(--clr-accent-400);
  transform-origin: left;
  transition: transform 500ms ease;
}
.card:hover .card-title::after,
.card:focus-within .card-title::after {
  transform: scaleX(1);
}
.card-body {
  color: rgb(255 255 255 / 0.8);
}

@media (hover) {
  .card-content {
    transform: translateY(65%);
    transition: transform 500ms ease;
  }
  .card:hover .card-content,
  .card:focus-within .card-content {
    transform: translateY(0);
    transition-delay: 500ms;
  }

  .card:focus-within .card-content {
    transition-duration: 0ms;
  }

  .card-content > *:not(.card-title) {
    opacity: 0;
    transition: opacity 500ms linear;
  }
  .card:hover .card-content > *:not(.card-title),
  .card:focus-within .card-content > *:not(.card-title) {
    opacity: 1;
    transition-delay: 1000ms;
  }
  .card-title::after {
    transform: scaleX(0);
  }
}
.card a {
  text-decoration: none;
}
.card .button {
  cursor: pointer;
  display: inline;
  position: relative;
  color: var(--clr-accent-400);
  background-color: transparent;
  border: solid 3px var(--clr-accent-400);
  overflow: hidden;
  border-radius: 0;
  font-weight: 600;
  padding: 0.5rem 1.25rem;
  text-decoration: none;
  margin-left: 15px;
}
.button:hover,
.button:focus {
  background: var(--clr-accent-400);
  color: white;
  border: solid 3px var(--clr-accent-400);
  box-shadow: 0px 11px 30px -3px rgba(0, 0, 0, 0.73);
  transition: 0.5s;
}
.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, #fff, transparent);
  transition: 0.5s;
}
.button:hover::before,
.button:focus-within::before {
  left: 100%;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .section-header {
  margin-bottom: 40px;
}

.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: hidden;
}

.testimonials .testimonial-item {
  text-align: center;
}

.testimonials .testimonial-item .testimonial-img {
  width: 120px;
  border-radius: 50%;
  /* border: 4px solid #777; */
  margin: 0 auto;
}

.testimonials .testimonial-item h3 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

.testimonials .testimonial-item h4 {
  font-size: 1.75rem;
  color: #777;
  margin: 0 0 15px 0;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: var(--clr);
  font-size: 1.5rem;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid var(--clr);
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--clr);
}

@media (min-width: 992px) {
  .testimonials .testimonial-item p {
    width: 80%;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  width: 100%;
}

.contact .info i {
  font-size: 1.35rem;
  color: var(--clr);
  float: left;
  width: 3.25rem;
  height: 3.25rem;
  background: #f7eeff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 2.15rem;
  font-weight: 800;
  margin-bottom: 5px;
  color: #45505b;
  background-image: var(--gradient-title);
  width: fit-content;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.5s;
}
.contact .info h4:hover {
  background-image: var(--gradient-title-hover);
}

.contact p,
.info p,
.phone p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 0.9rem;
  color: #728394 !important;
}

.contact .info .email,
.contact .info .phone {
  margin-top: 40px;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: var(--gradient-title);
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  background: transparent;
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

/* //* Before Contact input */
/* .contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input {
  height: 6vh;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
} */

/* 
--------------------------------------------------------------
# Input Contact Button
-------------------------------------------------------------- */
/* .inputBox {
  position: relative;
  font-family: gill sans, gill sans mt, Calibri, trebuchet ms, sans-serif;
}
.inputBox input,
.inputBox textarea {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #857598;
  outline: none;
  background: #fff;
  color: #000 !important;
  border-radius: 1em;
  padding: 1em;
  font-size: 1.25rem;
}

.inputBox span {
  position: absolute;
  left: 0.5em;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  color: #728394;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 1px;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span,
.inputBox textarea:valid ~ span,
.inputBox textarea:focus ~ span {
  padding: 5px;
  color: #fff;
  font-size: 0.75em;
  transform: translate(10px, -18px);
  background: var(--gradient-title);
  letter-spacing: 0.3em;
  border-radius: 0.75em;
  font-family: namaste;
  /* font-family: gill sans, gill sans mt, Calibri, trebuchet ms, sans-serif;
}
.inputBox:nth-child(2) input:valid ~ span,
.inputBox:nth-child(2) input:focus ~ span,
.inputBox:nth-child(2) textarea:valid ~ span,
.inputBox:nth-child(2) textarea:focus ~ span {
  background-color: #00dfc4;
  color: #1d2b3a;
  border-radius: 2px;
}
.inputBox input:valid,
.inputBox input:focus,
.inputBox textarea:valid,
.inputBox textarea:focus {
  border-bottom: 2px solid var(--clr);
  background-color: #e8f0fe;
  transition: 0.5s ease-in-out;
}

.inputBox > #message {
  height: 20vh;
  position: relative;
}
.inputBox span.message {
  position: absolute;
  top: 0;
} */
/* 
--------------------------------------------------------------
# Input Contact Button
-------------------------------------------------------------- 
*/
.form-control {
  position: relative;
  /* margin: 20px 0 40px; */
  border: none;
  border-radius: 0;
  /* font-family: footer; */

}

.form-control input,
.form-control textarea {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #728394 solid;
  display: block;
  width: 100%;
  padding: 15px 5px;
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--clr);
  /* background: var(--gradient-title);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  /* border-radius: 0.5em; */
}

.form-control input:focus,
.form-control input:valid,
.form-control textarea:focus,
.form-control textarea:valid {
  outline: 0;
  background-color: #e8f0fe;
  border-bottom-color: var(--clr);
  filter: drop-shadow(0 1px 1px var(--clr));
}

.form-control label {
  text-transform: uppercase;
  position: absolute;
  top: 15px;
  left: 17px;
  pointer-events: none;
}

.form-control label span {
  display: inline-block;
  font-size: 1.25rem;
  /* font-size: 2.25rem; */
  min-width: 5px;
  color: #728394;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span,
.form-control textarea:focus + label span,
.form-control textarea:valid + label span {
  color: var(--clr);
  font-weight: 600;
  transform: translateY(-30px);
  background: var(--gradient-title);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* background: var(--gradient-title);
  background-clip: text;
  color: transparent; */
}

/* 
--------------------------------------------------------------
# Send Message Button
-------------------------------------------------------------- */
.contact .php-email-form .send-button button[type="submit"] {
  background: transparent;
  font-size: 1rem;
  padding: 0.6em 1em;
  padding-left: 1em;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: 0.2s;
  color: var(--clr);
  border: solid 3px var(--clr);
  font-weight: 700;
  margin: 0 auto;
  border-radius: 50px;
}
.contact .php-email-form .send-button button[type="submit"]:hover {
  background: var(--clr);
  color: white;
  border: solid 3px var(--clr);
  box-shadow: 0px 11px 30px -3px rgba(0, 0, 0, 0.73);
  transition: 0.5s ease-in-out;
  transform: translateX(5px);
}
.contact .php-email-form .send-button button[type="submit"] span {
  display: block;
  margin-left: 0.5em;
  transition: all 0.3s ease-in-out;
}
.contact .php-email-form .send-button button[type="submit"] svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}
.contact .php-email-form .send-button button[type="submit"]:hover .wrapper {
  animation: move 0.4s ease-in-out infinite alternate;
}
.contact .php-email-form .send-button button[type="submit"]:hover svg {
  transform: translateX(3.5em) rotate(405deg) scale(1.3);
}
.contact .php-email-form .send-button button[type="submit"]:hover span {
  transform: translateX(8em);
}
.contact .php-email-form .send-button button[type="submit"]:active {
  transform: scale(0.95);
}
.contact .php-email-form .send-button button[type="submit"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, #fff, transparent);
  transition: 0.8s;
}
.contact .php-email-form .send-button button[type="submit"]:hover::before {
  left: 100%;
}
@keyframes move {
  from {
    transform: translateX(0.3em);
  }
  to {
    transform: translateX(-0.3em);
  }
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# /*? Do-it
--------------------------------------------------------------*/
h4 {
  font-weight: bold;
  font-size: 2rem;
}
.do-it {
  background: var(--gradient-title);
  border-radius: 100px 100px 0 0;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  /* margin-right: 80px; */
}
.do-it:hover {
  box-shadow: 8px 8px 16px -4px rgba(0, 0, 0, 0.84);
  -webkit-box-shadow: 8px 8px 16px -4px rgba(0, 0, 0, 0.84);
  -moz-box-shadow: 8px 8px 16px -4px rgba(0, 0, 0, 0.84);
  transition: all 0.1s;
}
.do-it p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2.5ch;
  text-align: center;
  padding: 1.5vh;
  color: #000;
}
/* .lets-do-it-btn, .btn-hire-me
{
  display: flex;
  justify-content: flex-end;
} */

.lets-do-it-btn svg {
  display: inline-block;
  /* transform: translate(-6px, -6px); */
  transition: transform 0.3s ease-in-out;
}
/* .lets{
  margin-top: -45px;
} */
.btn-hire-me {
  position: relative;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-family: namaste;
  font-size: 1.25rem;
  letter-spacing: 3px;
  border: none;
  border-radius: 0;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  /* display: flex;
  align-items: center; */
  margin-left: 3vw;
  min-width: 250px;
  height: 75px;
  /* margin-block-start: 20px; */
}
@media (max-width: 768px) {
  .lets {
    margin-top: -45px;
  }
  .btn-hire-me {
    margin-block-start: 20px;
  }
}
.btn-hire-me:hover {
  color: #fff;
  transition: 0.5s ease-in-out;
  box-shadow: 0px 11px 30px -3px rgba(0, 0, 0, 0.5);
}
.btn-hire-me:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
}
.btn-hire-me:after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transition: 0.5s;
  transition-delay: 0.5s;
}
.btn-hire-me:hover:after {
  left: 100%;
}
.btn-hire-me span {
  position: absolute;
  display: block;
  transition: 0.5s ease;
}
.btn-hire-me span:nth-child(1) {
  top: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: #fff;
}
.btn-hire-me:hover span:nth-child(1) {
  width: 100%;
  transform: translateX(100%);
}

.btn-hire-me span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 0;
  height: 1px;
  background: #fff;
}
.btn-hire-me:hover span:nth-child(3) {
  width: 100%;
  transform: translateX(-100%);
}
.btn-hire-me span:nth-child(2) {
  top: 0;
  left: 0;
  width: 1px;
  height: 0;
  background: #fff;
}
.btn-hire-me:hover span:nth-child(2) {
  height: 100%;
  transform: translateY(100%);
}
.btn-hire-me span:nth-child(4) {
  bottom: 0;
  right: 0;
  width: 1px;
  height: 0;
  background: #fff;
}
.btn-hire-me:hover span:nth-child(4) {
  height: 100%;
  transform: translateY(-100%);
}

.btn-hire-me .lets-do-it-text {
  position: absolute;
  display: block;
  font-size: 1.35rem;
  transition: all 0.3s ease-in-out;
  margin-left: 3rem;
}
.btn-hire-me:hover .lets-do-it-text {
  transform: translateX(10em);
}

.btn-hire-me:hover .wrapper {
  animation: fly 0.6s ease-in-out infinite alternate;
}
.btn-hire-me:hover svg {
  transform: translateX(90px) rotate(360deg) scale(1.5);
}

.hire-me-btn:active {
  transform: scale(0.95);
}
.hire-me-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, #fff, transparent);
  transition: 0.8s;
}
.hire-me-btn:hover::before {
  left: 100%;
}
@keyframes fly {
  from {
    transform: translateY(0.1em);
  }
  to {
    transform: translateY(-0.1em);
  }
}
/*--------------------------------------------------------------
/* //! CSS for hire-me box responsive
--------------------------------------------------------------*/
@media only screen and (max-width: 376px) {
  .lets-do-it-btn .btn-hire-me {
    width: 100%;
    padding: 10px;
    /* transform: translateX(50%); */
  }
}
@media only screen and ((min-width: 376px) and(max-width: 768px)) {
  .lets-do-it-btn .btn-hire-me {
    width: 50%;
    padding: 10px;
    transform: translateX(50%);
  }
}
@media only screen and ((min-width: 768px) and (max-width: 992px)) {
  .lets-do-it-btn .btn-hire-me {
    padding: 20px;
    transition: transform 500ms ease;
    transform: translate(-25%, 13%);
  }
}
@media only screen and (min-width: 992px) {
  .do-it p {
    margin: 0 !important;
    font-size: 2.75ch;
  }
  .lets-do-it-btn .btn-hire-me {
    width: 80%;
    padding: 16px;
    transform: translate(0, 20%);
  }
}

/*--------------------------------------------------------------
# /*? Do-it
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
  background: none;
  color: #45505b;
  text-align: center;
  padding: 30px 0;
}

#footer .footer-heading-3 span {
  font-family: footer;
  font-size: 2.5rem;
  margin: 0;
  margin: -10px auto;
  cursor: pointer;
  /* margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px; */
}
#footer .footer-heading-3 span:hover {
  color: #000;
  transition: 1s;
}
.copyright-purna {
  font-family: footer;
  font-size: 1.6rem;
}
.copyright-purna:hover {
  color: black;
  transition: 1s;
}
.designed-purna {
  margin-left: 10px;
  font-family: purna;
  font-size: 1.75rem;
  font-weight: 600;
  color: #000;
  cursor: pointer;
}

#footer .social-links {
  margin: 0 0 20px 0;
}

#footer .social-links a {
  font-size: 1.5rem;
  display: inline-block;
  line-height: 3;
  text-align: center;
  margin-inline: 5px;
  width: 36px;
  height: 36px;
  transition: transform 500ms ease;
}
#footer .social-links a:hover {
  transform: translateY(-6px);
}
#footer .social-links a i {
  padding: 1px;
}
#footer .bxl-facebook {
  background: #4267b2;
  color: #fff;
  border-radius: 50%;
}
#footer .bxl-facebook:hover {
  color: #4267b2;
  background: white;
  outline: solid 2px #4267b2;
  border-radius: 50%;
  transform: scale(1.5);
  transition: 0.3s ease-in-out;
}
#footer .bxl-youtube {
  background: #ff0000;
  color: #fff;
  border-radius: 5px;
}
#footer .bxl-youtube:hover {
  background: #fff;
  color: #ff0000;
  outline: solid 2px #ff0000;
  border-radius: 8px;
  transform: scale(1.5);
  transition: 0.3s ease-in-out;
}
#footer .bxl-instagram {
  background: radial-gradient(
    circle at 33% 100%,
    #fed373 4%,
    #f15245 30%,
    #d92e7f 62%,
    #9b36b7 85%,
    #515ecf
  );
  border-radius: 8px;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
#footer .bxl-instagram:hover {
  transform: scale(1.5);
}
#footer .bxl-gmail {
  background: #b3b304;
  color: #fff;
  border-radius: 10px;
}
#footer .bxl-gmail:hover {
  color: #b3b304;
  outline: solid 2px #b3b304;
  background: #fff;
  border-radius: 8px;
  transform: scale(1.5);
  transition: 0.3s ease-in-out;
}
#footer .bxl-linkedin {
  background: #0a66c2;
  color: #fff;
  border-radius: 5px;
}
#footer .bxl-linkedin:hover {
  background: #fff;
  color: #0a66c2;
  outline: solid 2px #0a66c2;
  transform: scale(1.5);
  transition: 0.3s ease-in-out;
}
#footer .bxl-github {
  background-color: #333;
  color: white;
  border-radius: 5px;
}
#footer .bxl-github:hover {
  background-color: #fff;
  color: #333;
  outline: solid 2px #333;
  transform: scale(1.5);
  transition: 0.3s ease-in-out;
}
#footer .bxl-twitter {
  background: #1da1f2;
  color: #fff;
  border-radius: 50%;
}
#footer .bxl-twitter:hover {
  background: #fff;
  color: #1da1f2;
  border-radius: 50%;
  outline: solid 2px #1da1f2;
  transform: scale(1.5);
  transition: 0.3s ease-in-out;
}
#footer .copyright {
  margin: 0 0 5px 0;
}
#footer .credits {
  font-size: 13px;
}

p,
ul,
li,
.footer-heading-3 span,
.copyright-purna,
.designed-purna {
  background-image: var(--gradient-title);
  background-size: 0% 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: all 300ms ease;
}

p:hover,
ul:hover,
li:hover,
.footer-heading-3 span:hover,
.copyright-purna:hover,
.designed-purna:hover {
  background-size: 100% 3px;
}
