* {
  margin: 0;
  padding: 0;
  /* cursor: none; */
}
body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
}
/* //? Starts Font Link for TITLE of h1 */
@font-face {
  src: url(../fonts/TheScientist-L3EyW.ttf);
  font-family: purna;
}
/* Ends Font Link for TITLE of h1 */

/* Starts Font Link for footer of h3 */
@font-face {
  src: url(../fonts/SelfDeceptionRegular-ALLWA.ttf);
  font-family: footer;
}
#footer .footer-heading-3 {
  font-family: footer;
  font-size: 5vh;
  padding: 0;
  margin: 0 0 0 0;
  /* display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px; */
}
#footer .footer-heading-3:hover {
  color: #000;
  transition: 1s;
}
/* Ends Font Link for footer of h3 */

/* Starts Font Link for footer copyright */
.copyright-purna {
  font-family: footer;
  font-size: 3.5vh;
}
.copyright-purna:hover {
  font-family: footer;
  color: black;
  transition: 1s;
}
/* Ends Font Link for footer of h3 */
/* Starts Font Link for designed span */
.designed-purna {
  margin-left: 10px;
  font-family: purna;
  font-size: 4vh;
  font-weight: 600;
  color: #000;
}
/* .designed-purna:hover
{
  font-family: purna;
  font-size: 20px;
  font-weight: 700;
  color: black;
  transition: 1s;
} */
/* Ends Font Link for designed span */
/* 
--------------------------------------------------------------
# Download my CV button
-------------------------------------------------------------- 
*/
.btn {
  position: relative;
  color: #8860d2;
  border: solid 3px #8860d2;
  overflow: hidden;
  border-radius: 0;
  font-size: 110%;
  font-weight: 600;
}
#hero .btn:hover {
  background: #643dad;
  color: white;
  border: solid 3px #643dad;
  box-shadow: 0px 11px 30px -3px rgba(0, 0, 0, 0.73);
  transition: 0.5s;
}
#hero .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, #fff, transparent);
  transition: 0.5s;
}
#hero .btn:hover::before {
  left: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: "Raleway", sans-serif; */
  font-family: footer;
}

/* --------------------------------------------------------------
# Back to top button
--------------------------------------------------------------
*/
.back-to-top {
  overflow: hidden;
}
.back-to-top marquee {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s ease-in-out;
  overflow: hidden;
}
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: linear-gradient(to top, #1fd1f9, #b621fe);
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
  box-shadow: 0px 0 30px rgba(69, 80, 91, 0.08);
}

.back-to-top marquee {
  font-size: 28px;
  color: #fff;
  line-height: 0;
  box-shadow: 0px 0 30px rgba(69, 80, 91, 0.08);
}
.back-to-top marquee:hover {
  color: #000;
  line-height: 0;
  transition: 0.2s;
}

.back-to-top:hover {
  background: linear-gradient(to top, #b621fe, #1fd1f9);
  color: #fff;
  box-shadow: 11px -7px 33px -2px rgba(0, 0, 0, 0.76);
  transition: 1s;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
  box-shadow: 0px 0 30px rgba(69, 80, 91, 0.08);
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #7047bb;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 20px;
  overflow-y: auto;
}

@media (max-width: 992px) {
  #header {
    width: 300px;
    background: #fff;
    border-right: 1px solid #e6e9ec;
    left: -300px;
  }
}

@media (min-width: 992px) {
  #main {
    margin-left: 100px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation  */
.nav-menu {
  padding: 0;
  display: block;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #45505b;
  padding: 10px 18px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 50px;
  background: #f2f3f5;
  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 20px;
}

.nav-menu a span,
.nav-menu a:focus span {
  padding: 0 5px 0 7px;
  color: #45505b;
}

@media (min-width: 992px) {
  .nav-menu a,
  .nav-menu a:focus {
    width: 56px;
  }

  .nav-menu a span,
  .nav-menu a:focus span {
    display: none;
    color: #fff;
  }
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover > a {
  color: #fff;
  /* background: #0563bb; */
  background: #876eb5;
}

.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu .active:focus span,
.nav-menu li:hover > a span {
  color: #fff;
}

.nav-menu a:hover,
.nav-menu li:hover > a {
  width: 100%;
  color: #fff;
}

.nav-menu a:hover span,
.nav-menu li:hover > a span {
  display: block;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 28px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 0;
  cursor: pointer;
  border-radius: 50px;
  padding: 5px;
}

.mobile-nav-toggle i {
  color: #45505b;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle {
  color: #fff;
  /* background-color: #0563bb; */
  background-color: #876eb5;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/purna-bg purple.png") top right no-repeat;
  background-size: cover;
  position: relative;
}

@media (min-width: 992px) {
  #hero {
    padding-left: 160px;
  }
}

#hero:before {
  content: "";
  background: rgba(6, 6, 6, 0.8);
  opacity: calc(10%);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero p {
  color: #45505b;
  margin: 15px 0 0 0;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}

#hero p span {
  color: #876eb5;
  letter-spacing: 1px;
}

#hero .social-links {
  margin-top: 30px;
}

#hero .social-links a {
  font-size: 24px;
  display: inline-block;
  color: #45505b;
  line-height: 1;
  margin-right: 20px;
  transition: 0.3s;
}
#hero .social-links a:hover {
  transform: translate(0, -5px);
}
.bxl-twitter:hover {
  color: #1da1f2;
}
.bxl-facebook:hover {
  background: #4267b2;
  color: white;
  border-radius: 50%;
}
.bxl-linkedin:hover {
  background: #0a66c2;
  color: #fff;
  border-radius: 5px;
}
.bxl-instagram:hover {
  background: radial-gradient(
    circle at 33% 100%,
    #fed373 4%,
    #f15245 30%,
    #d92e7f 62%,
    #9b36b7 85%,
    #515ecf
  );
  border-radius: 8px;
  color: white;
}
.bxl-github:hover {
  background-color: #333;
  color: white;
  border-radius: 3px;
}
.bxl-google:hover {
  background: radial-gradient(
      circle at 30% 50%,
      #f44336 20%,
      #ffc107 50%,
      #4caf50 30%,
      #4285f4
    )
    20%;
  border-radius: 50%;
  color: white;
}
/*Fonts Links ends*/
@media (max-width: 992px) {
  #hero {
    text-align: center;
  }

  #hero h1 {
    font-size: 32px;
    line-height: 36px;
  }

  #hero p {
    margin-top: 10px;
    font-size: 20px;
    line-height: 24px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 4.5vh;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #45505b;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #876eb5;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 700;
  font-size: 4.5vh;
  color: #876eb5;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about .content ul strong {
  margin-right: 10px;
}

.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #876eb5;
  line-height: 0;
}

.about .content p:last-child {
  margin-bottom: 0;
}
.img-zoom {
  /* max-width: 20%; */
  transition: all 1.5s ease-in-out;
  filter: drop-shadow(8px 8px 4px #333);
}
.img-zoom:hover {
  transform: scale(1.25, 1.25);
  cursor: pointer;
  filter: drop-shadow(15px 11px 15px #333);
}

/*--------------------------------------------------------------
/*? CSS for img-zoom responsive
--------------------------------------------------------------*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .img-zoom {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .img-zoom {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .img-zoom {
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .img-zoom {
    display: inline-block;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .img-zoom {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# Facts
--------------------------------------------------------------*/
.facts .count-box {
  padding: 30px 30px 25px 30px;
  margin-top: 30px;
  width: 100%;
  position: relative;
  text-align: center;
}

.facts .count-box i {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  background: #876eb5;
  color: #fff;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}

.facts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: #876eb5;
}

.facts .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
.skills .progress {
  height: 60px;
  display: block;
  background: transparent;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #45505b;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #f2f3f5;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #876eb5;
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.resume .resume-title {
  font-size: 4.5vh;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #45505b;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #876eb5;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 2.8vh;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  /* color: #8b61d7; */
  margin-bottom: 10px;
  background: #876eb5;
  color: #333;
  border-radius: 50%;
  text-align: center;
}

.resume .resume-item h5 {
  font-size: 3vh;
  background: transparent;
  color: #876eb5;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #876eb5;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 2px 15px;
  padding: 0;
  margin: 0 auto 20px auto;
  list-style: none;
  text-align: center;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 15px 10px 15px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: #7b50cb;
  transition: 0.3s;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.portfolio .portfolio-wrap:hover {
  box-shadow: 0px 8px 27px -1px rgba(0, 0, 0, 1);
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(17, 17, 17, 0.6);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

/* Extra Added CSS */
.portfolio .portfolio-wrap img {
  transition: all ease-in-out 0.3s;
}
/* Ends extra added CSS */
.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
}
/* Internal line camera CSS */
.portfolio .portfolio-wrap .portfolio-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 15px;
  left: 15px;
  border-top: 3px solid #d7dce1;
  border-left: 3px solid #d7dce1;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}
.portfolio .portfolio-wrap .portfolio-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  border-bottom: 3px solid #d7dce1;
  border-right: 3px solid #d7dce1;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}
/* External CSS */
.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 3.5vh;
  color: #fff;
  font-weight: 600;
}
.portfolio .portfolio-wrap .portfolio-info p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  /* font-style: italic; */
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: rgba(255, 255, 255, 0.4);
  margin: 0 5px 0 0;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #fff;
}

.portfolio .portfolio-wrap:hover::before {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover img {
  transform: scale(1.5);
  transition: 0.75s;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}
/* 
.portfolio .portfolio-wrap .portfolio-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #d7dce1;
  border-right: 3px solid #d7dce1;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #45505b;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: #45505b;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #45505b;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #148af9;
  color: #876eb5;
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info::before {
  top: 15px;
  left: 15px;
}

.portfolio .portfolio-wrap:hover .portfolio-info::after {
  bottom: 15px;
  right: 15px;
} */

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details
  .portfolio-details-slider
  .swiper-pagination
  .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #876eb5;
}

.portfolio-details
  .portfolio-details-slider
  .swiper-pagination
  .swiper-pagination-bullet-active {
  background-color: #876eb5;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(69, 80, 91, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  text-align: center;
  padding: 70px 20px 80px 20px;
  transition: all ease-in-out 2s;
  box-shadow: 10px 10px 10px 0px rgb(127, 126, 126);
  /* box-shadow: 10px -10px 25px 0 rgba(143, 54, 248, 0.5),
    -10px 10px 25px 0 rgba(39, 200, 248, 0.5); */
}
.services .icon-box:hover {
  text-align: center;
  padding: 70px 20px 80px 20px;
  transition: all ease-in-out 0.5s;
  box-shadow: 10px 5px 90px 10px rgba(58, 63, 66, 0.05);
  border: 10px solid black;
}
/* ICON BOX FOR EACH BOXES */
/* ICON box for Ball-1 */
.services .icon-box {
  background: rgba(244, 241, 241, 0.863);
  border-radius: 20px;
}
.services .icon-box .icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
}

.services .icon-box .icon i {
  font-size: 36px;
  transition: 0.5s;
  position: relative;
}

.services .icon-box .icon svg {
  position: absolute;
  top: 0;
  left: 0;
}

.services .icon-box .icon svg path {
  transition: 0.5s;
  fill: #f5f5f5;
}

.services .icon-box h4 {
  font-weight: 600;
  margin: 10px 0 15px 0;
  font-size: 22px;
}

.services .icon-box h4 a {
  transition: ease-in-out 0.3s;
  text-decoration: none;
  font-weight: 650;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .icon-box:hover {
  border-color: #fff;
  box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
}

.services .iconbox-blue i {
  color: #47aeff;
}

.services .icon-box h4 .blue {
  color: #1779c4;
}

.services .iconbox-blue:hover .icon i {
  color: #fff;
}

.services .iconbox-blue:hover .icon path {
  fill: #1779c4;
}

.services .blue:hover {
  /* border-color: #fff; */
  /* box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08); */
  background: #77b9ed;
  box-shadow: 10px -10px 25px 0 #1779c4,
    -10px 10px 25px 0 rgba(39, 248, 175, 0.5);
}

.services .iconbox-orange i {
  color: #ffa76e;
}

.services .iconbox-orange:hover .icon i {
  color: #fff;
}

.services .iconbox-orange:hover .icon path {
  fill: #f37623;
}

.services .orange:hover {
  border-color: #fff;
  box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
  background: #ffa76e;
  box-shadow: 10px -10px 35px 0 #ed6d18, -10px 10px 25px 0 #f5de5d;
}

.services .icon-box h4 .orange {
  color: #f37623;
}

.services .iconbox-pink i {
  color: #e80368;
}

.services .iconbox-pink:hover .icon i {
  color: #fff;
}

.services .iconbox-pink:hover .icon path {
  fill: #d90561;
}

.services .pink:hover {
  border-color: #fff;
  box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
  background: #f87ab0;
  box-shadow: 5px -5px 25px 0 #d90561, -10px 10px 25px 0 #d053e9;
}

.services .icon-box h4 .pink {
  color: #d90561;
}

.services .iconbox-yellow i {
  color: #ffbb2c;
}

.services .iconbox-yellow:hover .icon i {
  color: #fff;
}

.services .iconbox-yellow:hover .icon path {
  fill: #ffb20c;
}

.services .yellow:hover {
  border-color: #fff;
  box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
  background: #fcd47f;
  box-shadow: 10px -10px 25px 0 #ffb20c, -10px 10px 25px 0 #d88338;
}

.services .icon-box h4 .yellow {
  color: #f9ab02;
}

.services .iconbox-red i {
  color: #876eb5;
}

.services .iconbox-red:hover .icon i {
  color: #fff;
}

.services .iconbox-red:hover .icon path {
  fill: #682adb;
}

.services .red:hover {
  border-color: #fff;
  box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
  background: #9a81c8;
  box-shadow: 10px -10px 25px 0 #682adb, -10px 10px 25px 0 #9a81c8;
}

.services .icon-box h4 .red {
  color: #682adb;
}

.services .icon-box h4 .teal {
  color: #00b4a8;
}

.services .iconbox-teal i {
  color: #11dbcf;
}

.services .iconbox-teal:hover .icon i {
  color: #fff;
}

.services .iconbox-teal:hover .icon path {
  fill: #00efdf;
}

.services .teal:hover {
  border-color: #fff;
  box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
  background: #77ebe4;
  box-shadow: 10px -10px 25px 0 #00efdf, -10px 10px 25px 0 #77ebe4;
}
/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .section-header {
  margin-bottom: 40px;
}

.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: hidden;
}

.testimonials .testimonial-item {
  text-align: center;
}

.testimonials .testimonial-item .testimonial-img {
  width: 120px;
  border-radius: 50%;
  /* border: 4px solid #777; */
  margin: 0 auto;
}

.testimonials .testimonial-item h3 {
  font-size: 4vh;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

.testimonials .testimonial-item h4 {
  font-size: 3vh;
  color: #777;
  margin: 0 0 15px 0;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: #876eb5;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #876eb5;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #7a4ad2;
}

@media (min-width: 992px) {
  .testimonials .testimonial-item p {
    width: 80%;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  width: 100%;
  /* background: #fff; */
}

.contact .info i {
  font-size: 20px;
  color: #876eb5;
  float: left;
  width: 44px;
  height: 44px;
  background: #eef7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 4vh;
  font-weight: 600;
  margin-bottom: 5px;
  color: #45505b;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 2vh;
  color: #728394;
}

.contact .info .email,
.contact .info .phone {
  margin-top: 40px;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #876eb5;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  background: transparent;
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
  background: #7d56c5;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: linear-gradient(225deg, #27d86c 0%, #26caf8 50%, #c625d0 100%);
  box-shadow: 10px -10px 25px 0 rgba(143, 54, 248, 0.5),
    -10px 10px 25px 0 rgba(39, 200, 248, 0.5);
  transform: translateY(5px);
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
#/*? Footer
--------------------------------------------------------------*/
#footer {
  background: none;
  color: #45505b;
  text-align: center;
  padding: 30px 0;
}

#footer h3 {
  font-size: 5vh;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0 0 15px 0;
}

#footer .social-links {
  margin: 0 0 20px 0;
}

#footer .social-links a {
  font-size: 24px;
  display: inline-block;
  line-height: 2;
  padding: 6px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  /* margin-inline: 12px; */
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer a:hover {
  transform: translate(0, -6px);
}
#footer .bxl-facebook {
  background: #4267b2;
  color: white;
  border-radius: 50%;
}
#footer .bxl-facebook:hover {
  color: #4267b2;
  background: white;
  border: solid 2px #4267b2;
  border-radius: 50%;
  font-size: 30px;
  transition: 0.5s;
}
#footer .bxl-youtube {
  background: #ff0000;
  color: #fff;
  border-radius: 5px;
}
#footer .bxl-youtube:hover {
  background: #fff;
  color: #ff0000;
  border: solid 2px #ff0000;
  border-radius: 8px;
  font-size: 30px;
  transition: 0.5s;
}
#footer .bxl-instagram {
  background: radial-gradient(
    circle at 33% 100%,
    #fed373 4%,
    #f15245 30%,
    #d92e7f 62%,
    #9b36b7 85%,
    #515ecf
  );
  border-radius: 8px;
  color: white;
}
#footer .bxl-instagram:hover {
  background: radial-gradient(
    circle at 33% 100%,
    #fed373 4%,
    #f15245 30%,
    #d92e7f 62%,
    #9b36b7 85%,
    #515ecf
  );
  font-size: 33px;
  transition: 0.5s;
  border: solid 2px
    radial-gradient(
      circle at 33% 100%,
      #fed373 4%,
      #f15245 30%,
      #d92e7f 62%,
      #9b36b7 85%,
      #515ecf
    );
}
#footer .bxl-gmail {
  background: #b3b304;
  color: white;
  border-radius: 10px;
}
#footer .bxl-gmail:hover {
  color: #b3b304;
  border: solid 2px #b3b304;
  background: white;
  border-radius: 12px;
  font-size: 30px;
  transition: 0.5s;
}
#footer .bxl-linkedin {
  background: #0a66c2;
  color: #fff;
  border-radius: 5px;
}
#footer .bxl-linkedin:hover {
  background: #fff;
  color: #0a66c2;
  border: solid 2px #0a66c2;
  border-radius: 6px;
  font-size: 30px;
  transition: 0.5s;
}
#footer .bxl-github {
  background-color: #333;
  color: white;
  border-radius: 3px;
}
#footer .bxl-github:hover {
  background-color: #fff;
  color: #333;
  border: solid 2px #333;
  border-radius: 4px;
  font-size: 30px;
  transition: 0.5s;
}
#footer .bxs-phone-call {
  background: #51c20a;
  color: #fff;
  border-radius: 5px;
}
#footer .bxs-phone-call:hover {
  background: #fff;
  color: #51c20a;
  border: solid 2px #51c20a;
  border-radius: 5px;
  font-size: 30px;
  transition: 0.5s;
}
#footer .bxl-twitter {
  background: #1da1f2;
  color: #fff;
  border-radius: 50%;
}
#footer .bxl-twitter:hover {
  background: #fff;
  color: #1da1f2;
  border-radius: 50%;
  border: solid 2px #1da1f2;
  font-size: 30px;
  transition: 0.5s;
}

#footer .copyright {
  margin: 0 0 5px 0;
}

#footer .credits {
  font-size: 13px;
}

.resume-item ul li a {
  color: #333;
  text-decoration: none;
}
.resume-item ul li a:hover {
  color: #7047bb;
  transition: 0.5s;
  font-weight: bold;
}
.info .phone p {
  color: #333;
  text-decoration: none;
}
.info .phone p:hover {
  color: #7047bb;
  transition: 0.5s;
}
.website-link {
  color: #272829;
  text-decoration: none;
}
.website-link:hover {
  color: #7047bb;
  transition: 0.5s;
}
.phone-number {
  color: #272829;
}
.phone-number:hover {
  color: #7047bb;
  transition: 0.5s;
}
/*--------------------------------------------------------------
# /*? Do-it
--------------------------------------------------------------*/
h4 {
  font-weight: bold;
}
.do-it p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 3.3vh;
}
.do-it {
  background: #7d56c5;
  /* border-radius: 50px 50px 0 0; */
  border-radius: 100px 100px 0 0;
  padding: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.do-it:hover {
  box-shadow: 10px -10px 25px 0 rgba(143, 54, 248, 0.5),
    -10px 10px 25px 0 rgba(39, 200, 248, 0.5);
  transition: 0.5s;
}
.do-it .btn {
  text-decoration: none;
  padding: 15px 40px;
  font-size: 2.5vh;
  position: relative;
  z-index: 1;
}
.do-it .btn-hire-me {
  overflow: hidden;
  color: #5be9b9;
  background: rgba(255, 255, 255, 0.056);
  border-radius: 50px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: #5be9b9 2px solid;
  box-shadow: 10px -10px 25px 0 rgba(143, 54, 248, 0.5),
    -10px 10px 25px 0 rgba(39, 200, 248, 0.5);
}
.do-it .btn-hire-me::after {
  content: "";
  width: 400px;
  height: 400px;
  position: absolute;
  top: -50px;
  left: -100px;
  z-index: -1;
  transition: transform 1s ease;
  box-shadow: 10px -10px 25px 0 rgba(143, 54, 248, 0.5),
    -10px 10px 25px 0 rgba(39, 200, 248, 0.5);
}
.do-it .btn-hire-me:hover {
  color: #fff;
  border: #fff 2px solid;
  transform: translate(0, -6px);
  box-shadow: 10px -10px 25px 0 rgba(143, 54, 248, 0.5),
    -10px 10px 25px 0 rgba(39, 200, 248, 0.5);
  background-image: linear-gradient(
    225deg,
    #27d86c 0%,
    #26caf8 50%,
    #c625d0 100%
  );
}
.do-it .btn-hire-me:hover::after {
  transform: rotate(-160deg);
}
/*--------------------------------------------------------------
/* //! CSS for hire-me box responsive
--------------------------------------------------------------*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .hire-me-btn .btn-hire-me {
    display: none;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .hire-me-btn .btn-hire-me {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .hire-me-btn .btn-hire-me {
    display: none;
  }
  .do-it p {
    margin-top: 10px;
    margin-left: -160px;
  }
  .lets-do-it-btn .btn-hire-me {
    width: 110%;
    padding: 10px;
    margin-top: 10px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and ((min-width: 992px)) {
  .hire-me-btn .btn-hire-me {
    display: none;
  }
  .do-it p {
    margin-left: -250px !important;
  }
  .lets-do-it-btn .btn-hire-me {
    width: 130%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .hire-me-btn .btn-hire-me {
    display: inline-block;
  }
  .do-it p {
    margin: 0 !important;
  }
  .lets-do-it-btn .btn-hire-me {
    width: 80%;
    padding: 16px;
  }
}
/* //? For NAMASTE */
@font-face {
  src: url(../fonts/ProcrastinatingPixie-WyVOO.ttf);
  font-family: namaste;
}
.typed {
  /* font-weight: 600; */
  font-family: namaste;
  font-size: 4vh;
  text-transform: uppercase;
}
