@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Bourbon St';
  src: url(./assets/fonts/bourbonst-regular.otf) format('opentype');
}

@font-face {
  font-family: 'Gold Badge';
  src: url(./assets/fonts/goldbadge.otf) format('opentype');
}

@layer components {
  /* *,
  html,
  body {
    @apply font-luxury;
  } */

  * {
    scrollbar-width: thin;
    scrollbar-color: #808080 transparent;
  }

  body {
    @apply bg-dark;
  }

  main {
    @apply px-4 py-20 sm:py-28 md:px-12 md:py-[7.5rem] lg:py-[9rem];
  }

  section {
    @apply px-0 py-8 sm:py-12 md:py-16 lg:py-20;
  }

  h1,
  h2,
  h3,
  .navlink {
    @apply font-luxury font-extralight;
  }

  h4,
  h5,
  h6,
  a,
  button,
  div {
    @apply font-inria-sans font-semibold;
  }

  p,
  span,
  li {
    @apply font-inria-sans font-light;
  }

  /* p {
    @apply font-pt-sans;
  } */

  .filter-dark {
    filter: brightness(0) saturate(100%) invert(0%) sepia(100%) saturate(0%) hue-rotate(21deg) brightness(97%) contrast(103%);
  }

  .filter-white {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
  }

  .dark-mode {
    @apply border-dark/50 text-dark hover:border-dark hover:bg-dark/20;
  }

  .white-mode {
    @apply border-white/50 text-white hover:border-white hover:bg-white/20;
  }

  .overlay {
    @apply pointer-events-none absolute inset-0 size-full bg-dark/30 transition-all duration-500 ease-linear;
  }

  /* .bg-blue-gradient {
    background: radial-gradient(50% 50% at 50% 50%,#224c55 0,#111 100%);
  } */

  .bg-green-gradient {
    background: radial-gradient(45% 35% at 53% 94%,
        #03887e 10%,
        transparent 100%);
    /* filter: blur(20px); */
  }

  .bg-blue-gradient {
    background: radial-gradient(45% 35% at 53% 94%,
        #032d82 10%,
        transparent 100%);
    /* filter: blur(20px); */
  }

  .green-gradient {
    @apply bg-gradient-to-t from-[#4caf50] from-[0%] via-[#81c784] via-[50%] to-[#aed581] to-[100%] bg-clip-text text-transparent;
  }

  .blue-gradient {
    /* @apply bg-gradient-to-t from-[#33bbcf] from-[0%] via-[#bef3f5] via-[50%] to-[#aed581] to-[100%] text-transparent bg-clip-text; */

    background: radial-gradient(64.18% 64.18% at 71.16% 35.69%,
        #def9fa 0.89%,
        #bef3f5 17.23%,
        #9dedf0 42.04%,
        #7de7eb 55.12%,
        #5ce1e6 71.54%,
        #33bbcf 100%);

    @apply bg-clip-text text-transparent;
  }

  .text-gold-gradient {
    @apply bg-gradient-to-b from-[#f3bf58] from-[27%] via-[#ffecb3] via-[40%] to-[#9a6700] to-[98%] bg-clip-text text-transparent;
  }

  .transition-300 {
    @apply transition-all duration-300 ease-linear;
  }

  .transition-700 {
    @apply transition-all duration-700 ease-linear;
  }

  .slide-in {
    @apply pointer-events-none fixed left-0 top-0 z-50 h-screen w-full origin-bottom bg-dark transition-all duration-300 ease-linear;
  }

  .slide-out {
    @apply pointer-events-none fixed left-0 top-0 z-50 h-screen w-full origin-top bg-dark transition-all duration-300 ease-linear;
  }

  .wave {
    @apply fixed bottom-0 left-0 h-screen w-full bg-gradient-to-t from-[#4caf50] from-[0%] via-[#81c784] via-[50%] to-[#aed581] to-[100%];
  }

  .pagination span {
    @apply size-2 cursor-pointer rounded-full bg-white/50;
  }

  .pagination span:hover {
    @apply bg-white/90;
  }
}

@keyframes float-up {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes float-down {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes float-left {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-20px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes float-right {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(20px);
  }

  100% {
    transform: translateX(0);
  }
}

.float-up {
  animation: float-up infinite ease-in-out;
}

.float-down {
  animation: float-down infinite ease-in-out;
}

.float-left {
  animation: float-left infinite ease-in-out;
}

.float-right {
  animation: float-right infinite ease-in-out;
}

/* css  */
.bg-hotel-himalaya {
  background-image: linear-gradient(121.21deg,
      #c79d4f 13.03%,
      #fad694 48.04%,
      #e9c279 81.98%);
}

/* body {
  background-color: #0a0a0a;
} */